@font-face {
  font-family: 'Luckiest Guy';
  src: url('assets/fonts/LuckiestGuy/LuckiestGuy-Regular.ttf');
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('assets/fonts/GothamPro/gothampro.ttf');
}

* {
  margin: 0;
}

body {
  font-family: 'Luckiest Guy', 'Comic Sans MS', 'Roboto', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  background: #001583;
  backdrop-filter: blur(16.3097px);
}
